{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('etecsa/exportarTabla/css/buttons.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contenido %}
    <div class="box">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 style="text-align: center">Entrega de ESPEJUELOS</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel-body col-lg-2">
                            <a href="#nuevo" data-toggle="modal" class="btn btn-facebook" data-placement="top" title="Registrar nuevo accidente">Registrar</a>
                            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="nuevo" class="modal fade">
                                <div class="modal-dialog" style="width: 500px; height: auto">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×
                                            </button>
                                            <h4 class="modal-title" style="text-align: center">Nueva entrega de espejuelos</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group col-lg-6" style="text-align: center">
                                                            <label>Trabajador</label>
                                                            <select class="form-control" name="trabajador" id="trabajador" required="required">
                                                                <option value="">Seleccionar</option>
                                                                {% for trab in trabajador %}
                                                                    <option style="text-align: center" value="{{ trab.id }}">{{ trab.nombre }} {{ trab.apellidos }} {{ trab.segundoApellido }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-lg-6" id="sandbox-container" style="text-align: center">
                                                            <label>Fecha compra</label>
                                                            {#<input type="datetime" class="form-control" id="exampleInputEmail3">#}
                                                            <input style="text-align: center" name="fechaCompra" type="text" id="fechaCompra"
                                                                   class="form-control round-input" required="required">
                                                        </div>
                                                        <div class="form-group col-lg-6" style="text-align: center">
                                                            <label>Costo</label>
                                                            <input style="text-align: center" name="costo" type="text" id="costo"
                                                                   class="form-control round-input validar" required="required">
                                                        </div>
                                                        <div class="form-group col-lg-6" style="text-align: center">
                                                            <label>No. Cheque</label>
                                                            <input style="text-align: center" name="cheque" type="text" id="cheque"
                                                                   class="form-control round-input validar" required="required">
                                                        </div>
                                                        <div class="form-group col-lg-6" id="sandbox-container" style="text-align: center">
                                                            <label>Fecha recibe Economía</label>
                                                            <input style="text-align: center" name="fechaEconomia" type="text" id="fechaEconomia"
                                                                   class="form-control round-input" required="required">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group col-lg-6" style="text-align: center">
                                                            <label>Respaldo Política</label>
                                                            <input style="text-align: center" name="respaldo" type="radio" id="rp"
                                                                   required="required">
                                                        </div>
                                                        <div class="form-group col-lg-6" style="text-align: center">
                                                            <label>Aprobación del C.D</label>
                                                            <input style="text-align: center" name="respaldo" type="radio" id="cd"
                                                                   required="required">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-facebook insertar">Insertar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Example DataTables Card-->
                                <div class="box-body listar">
                                    <img class="loading3" src="{{ asset('etecsa/img/loadingBig.gif') }}" style="width: 100px;height: 100px; margin-left: 40%; margin-top: 10%; text-align: center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('etecsa/exportarTabla/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('etecsa/exportarTabla/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('etecsa/exportarTabla/js/jszip.min.js') }}"></script>
    <script src="{{ asset('etecsa/exportarTabla/js/pdfmake.min.js') }}"></script>
    <script src="{{ asset('etecsa/exportarTabla/js/vfs_fonts.js') }}"></script>              
    <script src="{{ asset('etecsa/exportarTabla/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('etecsa/exportarTabla/js/buttons.print.min.js') }}"></script>
    <script>
        $.post("{{ path('entregaespejueloAjax')}}", function (data) {
            $('.listar').html(data);
        });
    </script>
    <script>
        $(function(){
            $(".validar").keydown(function(event){
                //alert(event.keyCode);
                if((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105) && event.keyCode !==190  && event.keyCode !==110 && event.keyCode !==8 && event.keyCode !==9  ){
                    return false;
                }
            });
        });
    </script>
    <script>
        $(".insertar").click(function(event){
            var trabajador = document.getElementById("trabajador").value;
            var fechaCompra = document.getElementById("fechaCompra").value;
            var costo = document.getElementById("costo").value;
            var cheque = document.getElementById("cheque").value;
            var fechaEconomia = document.getElementById("fechaEconomia").value;
            var respaldoP = document.getElementById("rp").checked;
            var consejoD = document.getElementById("cd").checked;

            var path ='{{ path("entrega", {'idtrabajador': 'xx','fechaCompra': 'xx','costo': 'xx','cheque': 'xx','fechaEconomia': 'xx','respaldoP': 'xx','consejoD': 'xx'}) }}';
            path = path.replace("xx", trabajador);
            path = path.replace("xx", fechaCompra);
            path = path.replace("xx", costo);
            path = path.replace("xx", cheque);
            path = path.replace("xx", fechaEconomia);
            path = path.replace("xx", respaldoP);
            path = path.replace("xx", consejoD);

            $.ajax({
                url : path,
                data : {},
                type : 'POST',
                dataType : '',
                success : function(data) {
                    $("#nuevo").modal('hide');
                    $('.listar').html(data);
                },
                error : function(data) {
                    alert("Error");
                },
                complete : function(data) {
                    swal({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Se ha insertado correctamente.',
                        showConfirmButton: false,
                        timer: 1500,
                        type: "success",
                        showCancelButton: false,
                        closeOnConfirm: true
                    })
                }
            });
        });
    </script>
    <script>
        $(".verEntrega").click(function(event){
            var iduo = document.getElementById("uoEntrega").value;
            var fecha = document.getElementById("fechaEntrega").value;

            var path ='{{ path("verEntrega", {'iduo': 'xx','fecha': 'xx'}) }}';
            path = path.replace("xx", iduo);
            path = path.replace("xx", fecha);

            $.ajax({
                url : path,
                data : {},
                type : 'POST',
                dataType : '',
                success : function(data) {
                    $("#nuevoUser4").modal('hide');
                    $('.listar').html(data);
                },
                error : function(data) {
                    alert("Error");
                },
            });
        });
    </script>
{% endblock %}