<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SST DTSR</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('etecsa/imagenes/etecsa.ico') }}"/>
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('etecsa/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="{{ asset('etecsa/vendor/metisMenu/metisMenu.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset('etecsa/css/sb-admin-2.css') }}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{ asset('etecsa/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container" style="background: url("{{ asset('etecsa/imagenes/IMG.jpg') }}")">
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            {% block error %}
                <div class="panel-heading">
                    <h2 class="panel-title">Sistema de seguridad Y salud del trabajador DTSR</h2>
                </div>
            {% endblock %}
            <div class="panel-body">
                <form method="post" class="login-form" action="{{ path('login') }}" >
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="Usuario" name="_username" id="username" type="text" value="{{ last_username | default('') }}" autofocus required="">
                            <input type="hidden" name="_target_path" value="/usuario/inicio"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="_password" id="password" type="password" placeholder="Contraseña" required="">
                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                        <button type="submit" name="login" class="btn btn-lg btn-info btn-block">Entrar</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<!-- jQuery -->
<script src="{{ asset('etecsa/vendor/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('etecsa/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="{{ asset('etecsa/vendor/metisMenu/metisMenu.min.js') }}"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ asset('etecsa/js/sb-admin-2.js') }}"></script>
<script src="{{ asset('etecsa/login/superplaceholder.js') }}"></script>
<script>
    superplaceholder({
        el: username,
        sentences: [ 'usuario', 'usuario', 'usuario' ],
        options: {
            loop: true,
            startOnFocus: false
        }
    })
    superplaceholder({
        el: password,
        sentences: [ '************', '*******', '********' ],
        options: {
            loop: true,
            startOnFocus: false
        }
    })
</script>
</body>
</html>